<div class="row">
  <div class="col-lg-12">
    <ul class="pager">
      <li ng-class="{disabled:isOutside('{{prev_page}}')}" class="previous"><a href="{{prev_page_url}}">&larr; Previous page</a></li>
      <li ng-class="{disabled:isOutside('{{next_page}}')}" class="next"><a href="{{next_page_url}}">Next page &rarr;</a></li>
    </ul>
  </div>
</div>
<div class="row" ng-repeat="reservations in reservation_rows">
  <div class="col-lg-4 reservation-cell" ng-repeat="reservation in reservations track by reservation.id">
    <div class="thumbnail">
      <!--<img ng-src="static/reservations/{{reservation.id}}">--> <!-- Remove thumbnail -->
      <div class="caption">
        <h3>{{reservation.name}}</h3>
        <p>{{reservation.description}}</p>
        <p><a href="#/reservations/{{reservation.id}}" class="btn btn-small btn-primary">Read more</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="pager">
      <li ng-class="{disabled:isOutside('{{prev_page}}')}" class="previous"><a href="{{prev_page_url}}">&larr; Previous page</a></li>
      <li ng-class="{disabled:isOutside('{{next_page}}')}" class="next"><a href="{{next_page_url}}">Next page &rarr;</a></li>
    </ul>
  </div>
</div>
